.leading {
  background-color: $color-green;

  & .leading__inner {
    //
  }

  & .leading__content {
    display: flex;
    color: $color-white;
    margin-top: $pipeline-offset;

    @media screen and (max-width: 998px) {
      flex-wrap: wrap;
      margin-top: $pipeline-offset / 2;
    }

    .heading-wrapper {
    }

    & .content__heading {
      font-size: 24px;
      margin: 0;
      margin-bottom: 80px;
      max-width: 550px;
      text-align: left;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 40px;
      }

      @media screen and (min-width: 768px) and (max-width: 998px) {
        text-align: center;
        margin: 0 auto 40px auto;
        font-size: 18px;
      }
    }

    & .list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      position: relative;

      @media screen and (min-width: 768px) and (max-width: 998px) {
        margin: 0 auto;
        max-width: 600px;
      }

      & .content__line {
        position: absolute;
        left: 26px;
        top: 0;
        bottom: 0;
        width: 1px;
      }
    }

    & .list__item {
      position: relative;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 80px;

        @media screen and (max-width: 768px) {
          margin-bottom: 40px;
        }

        & .item__number {
          height: min-content;
        }
      }

      & .item__number {
        font-size: 32px;
        margin-right: 50px;
        font-weight: 600;
        background-color: $color-green;
        padding: 10px;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
          margin-right: 20px;
        }
      }

      & .item__text {
        max-width: 350px;
        margin: 0;
        padding: 10px;
      }
    }
  }

  & .left-side {
    width: 50%;

    @media screen and (max-width: 998px) {
      width: 100%;
      margin-bottom: 80px;
    }
  }

  // RIGHT SIDE
  & .right-side {
    width: 50%;
    padding-left: 80px;
    max-width: 600px;

    @media screen and (max-width: 998px) {
      width: 100%;
      padding-left: 0;
      margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding-left: 0;
      max-width: unset;
    }
  }

  // CARD

  & .leading__card {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $color-white;
    border-radius: 8px;
    padding: 80px 70px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
      padding: 40px 30px;
    }

    .card-layer {
      background-color: $color-gray-layer-light;
      clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
    }

    .card__inner {
      position: relative;
      margin: 0 auto;
    }
  }

  // FORM
  & .leading__form {
    color: $color-gray-dark;
    width: 100%;
    margin: 0 auto;

    & .form__submit-wrapper {
      & .form__submit-btn {
        width: 100%;
        height: 84px;
      }
      & .confirm-msg {
        font-size: 12px;
        opacity: 0.7;
      }
    }

    & .form__item {
      margin-bottom: 30px;
      & .input-label {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
      }

      & .input-text {
        height: 30px;
        border-radius: 5px;
        padding: 10px 20px;
        border: 1px solid $color-gray-dark;
        display: block;
        outline: none;
        width: 100%;
        height: 55px;
        box-sizing: border-box;

        &::placeholder {
          color: $color-gray-dark;
          opacity: 0.3;
          font-style: italic;
        }
        //
      }

      & .input-msg {
        display: block;
        font-size: 12px;
        font-style: italic;
        padding: 10px 0;
      }

      & .success {
        //
      }
      & .error {
        //
      }
    }
  }

  & .additional-msg {
    position: relative;
    text-align: center;
    margin-top: 30px;
    & .additional-msg__arrow {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-70%, -50%);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    & .additional-msg__text {
      display: block;
      margin: 0 auto;
      max-width: 400px;
      font-family: $font-secondary;
      font-size: 24px;
    }
  }
}
