.teachers {
  overflow: hidden;
  background-color: $color-yellow;
  min-height: 100vh;
  position: relative;

  & .teachers__inner {
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
  }

  & .teachers__header {
    display: flex;
    @media screen and (max-width: 998px) {
      flex-wrap: wrap;

      & .left-side {
        order: 2;
      }

      & .right-side {
        order: 1;
      }
    }
  }

  & .teachers__content {
    display: flex;
    margin-top: 50px;

    @media screen and (max-width: 998px) {
      flex-wrap: wrap;

      & .left-side {
        margin-bottom: 40px;
      }
    }
  }

  & .buttons__wrapper {
    max-width: 620px;
    margin-left: auto;
  }

  & .left-side {
    width: 50%;
    flex-shrink: 0;

    @media screen and (max-width: 998px) {
      width: 100%;
    }

    & .left-side__inner {
      overflow: hidden;
      width: calc(100% - 80px);

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  & .right-side {
    width: 50%;
    padding-right: 20px;
    flex-shrink: 0;

    @media screen and (max-width: 998px) {
      width: 100%;
    }
  }
}

.teachers {
  & .carousel-wrapper {
    margin-left: auto;
    margin-right: 20px;
    max-width: 520px;

    @media screen and (max-width: 768px) {
      max-width: unset;
      margin-right: 0;
    }
  }

  & .owl-stage-outer {
    padding: 10px 0;
    overflow: unset;

    @media screen and (max-width: 768px) {
      overflow: hidden;
    }
  }
}

.teachers__cta {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.teachers__options {
  max-width: 400px;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  margin: 10px 0 0;
  padding-left: 50px;
  position: relative;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;

  @media screen and (max-width: 998px) {
    height: 480px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 20px;
  }

  @media screen and (max-width: 375px) {
    height: 500px;
  }

  &:before {
    top: 5px;
    bottom: 5px;
    left: 0;
    position: absolute;
    width: 1px;
    background-color: $color-white;
    content: "";
    display: block;
  }
}

.teachers__option {
  padding: 0;
  margin: 0;
  color: $color-white;
  position: relative;
  &:not(:last-child) {
    height: 100%;
  }
  &:hover:after {
    transform: scale(1);
    opacity: 0.5;
  }

  &:before {
    top: 4px;
    left: -55px;
    border-radius: 30px;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $color-white;
    content: "";
    display: block;

    @media screen and (max-width: 768px) {
      left: -25px;
    }
  }

  &:after {
    top: -4px;
    bottom: 5px;
    left: -63px;
    border-radius: 30px;
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: $color-white;
    content: "";
    display: block;
    opacity: 0;
    transform: scale(0);
    transition: all $transition-smooth;
  }
}
