// theme
@import "./fonts.scss";
@import "./colors.scss";
@import "./utils/transitions.scss";

//layout
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/main.scss";

// components
@import "./components/buttons.scss";
@import "./components/headings.scss";

// sections
@import "./sections/hero.scss";
@import "./sections/pipeline.scss";
@import "./sections/pricing.scss";
@import "./sections/why.scss";
@import "./sections/teachers.scss";
@import "./sections/feedbacks.scss";
@import "./sections/leading-form.scss";

body {
  overflow-x: hidden;
}
