version: "3.4"

networks:
  dev:
    driver: bridge

services:
  api:
    build:
      context: ./api
    container_name: api
    restart: unless-stopped
    ports:
      - 8000:8000
    env_file:
      - ./api/.env
    command: "yarn start"
    networks:
      - dev

  frontend:
    build:
      context: ./frontend
      target: dev
    command: yarn run dev
    env_file:
      - ./frontend/.env.local
    ports:
      - 8080:8080
    container_name: frontend
    image: app/frontend:dev
    stdin_open: true
    tty: true
    networks:
      - dev
    volumes:
      - ./frontend/src:/usr/app/src
