.feedbacks {
  overflow: hidden;
  background-color: $color-gray-light;
  position: relative;

  & .heading-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;

    @media screen and (max-width: $bp-down-small) {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    & .slider-buttons__wrapper {
      @media screen and (max-width: $bp-down-small) {
        margin: 30px auto 10px auto;
        width: 100%;
      }
    }
  }

  & .image__wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
}

.feedbacks {
  & .feedbacks__carousel-wrapper {
    width: calc(100% + 40px);
    margin-left: -20px;

    & .slick-list {
      overflow: visible;
    }
  }

  & .feedbacks-card {
    margin: 0 20px;
    outline: none;

    @media screen and (max-width: $bp-down-medium) {
      min-height: 680px;
    }
  }
}

.feedbacks__cta {
  display: flex;
  justify-content: center;
  padding-top: $pipeline-offset / 3;
}
