@mixin button() {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all $transition-smooth;
  position: relative;
  text-decoration: none;
}

@mixin button-filled($color: $color-gray-dark, $color-hover: $color-gray-dark) {
  background-color: $color;
  border: none;
  color: $color-white;
  &:hover {
    background-color: $color-hover;
  }
}

@mixin button-outlined($color: white, $color-hover: white) {
  background-color: transparent;
  border: 1px solid $color;
  color: $color;
  transition: all $transition-smooth;

  &:hover {
    background-color: $color-hover;
  }
}

@mixin arrow-dropdown($color: $color-white) {
  content: '';
  width: 0;
  height: 0;
  margin-left: 4px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: inherit;
}

@mixin button-text($color: $color-white, $color-hover: transparent) {
  border: none;
  background-color: transparent;
  color: $color;
  transition: all $transition-smooth;
  &:hover {
    background-color: $color-hover;
  }
}

.btn * {
  pointer-events: none;
}

.btn--dropdown {
  & .btn__label {
    display: flex;
    align-items: center;
    &:after {
      @include arrow-dropdown();
    }
  }
}

.btn {
  &--uppercased {
    text-transform: uppercase;
  }

  &--large {
    padding: 22px 50px 20px 50px;

    &.btn--square {
      padding: 22px 20px 20px;
    }
  }

  &--medium {
    padding: 17px 40px 15px 40px;
    &.btn--square {
      padding: 17px 15px 15px;
    }

    @media screen and (max-width: $bp-down-small) {
      padding: 17px 25px 15px 25px;
    }
  }

  &--small {
    padding: 12px 30px 10px 30px;
    &.btn--square {
      padding: 12px 10px 10px;
    }
    @media screen and (max-width: $bp-down-small) {
      padding: 12px 20px 10px 20px;
    }
  }
}

.btn--filled {
  @include button();

  &.btn--green {
    @include button-filled($color-green, $color-green-lighter);
  }

  &.btn--red {
    @include button-filled($color-red, $color-red-lighter);
  }

  &.btn--yellow {
    @include button-filled($color-yellow, $color-yellow-lighter);
  }

  &.btn--light {
    @include button-filled($color-white, $color-white);
  }

  &.btn--dark {
    @include button-filled();
  }
}

.btn--outlined {
  @include button();

  &.btn--green {
    @include button-outlined($color-green, $color-green-opaque);
  }

  &.btn--red {
    @include button-outlined($color-red, $color-red-opaque);
  }

  &.btn--yellow {
    @include button-outlined($color-yellow, $color-yellow-opaque);
  }

  &.btn--light {
    @include button-outlined($color-white, $color-white-opaque);
  }

  &.btn--dark {
    @include button-outlined($color-gray-dark, $color-white);
  }
}

.btn--empty {
  @include button();

  &.btn--green {
    @include button-text($color-green);

    &.btn--hover {
      @include button-text($color-green, $color-green-opaque);
    }
  }

  &.btn--red {
    @include button-text($color-red);
    &.btn--hover {
      @include button-text($color-red, $color-red-opaque);
    }
  }

  &.btn--yellow {
    @include button-text($color-yellow);
    &.btn--hover {
      @include button-text($color-yellow, $color-yellow-opaque);
    }
  }

  &.btn--light {
    @include button-text($color-white);

    &.btn--hover {
      @include button-text($color-white, $color-white-opaque);
    }
  }

  &.btn--dark {
    @include button-text($color-gray-dark);
    &.btn--hover {
      @include button-text($color-gray-dark, $color-gray-dark-opaque);
    }
  }
}

.slider-buttons {
  cursor: pointer;
  & > *:first-child {
    margin-right: 10px;
  }

  & .btn--light .slider-arrow {
    fill: $color-white;
  }

  & .btn--dark .slider-arrow {
    fill: $color-gray-dark;
  }

  & .slider-btn > * {
    pointer-events: none !important;
  }

  width: max-content;
  @media screen and (max-width: $bp-down-small) {
    margin: 0 auto;
  }
}

.icon--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  padding: 10px;
}

.btn--icon-sm {
  & .btn__icon {
    display: none;
    @media screen and (max-width: $bp-down-small) {
      display: block;
    }

    &,
    & svg {
      width: 16px;
      height: 16px;
    }
  }

  & .btn__label {
    @media screen and (min-width: $bp-up-small) {
      display: block;
    }

    display: none;
  }
}
