$logo-height: 79px;
$logo-width: 110px;

.logo {
  width: $logo-width / 1.1;
  height: $logo-height / 1.1;

  & .logo__text {
    fill: $color-black;
  }
  & .logo__rect {
    fill: $color-green;
  }
}
