.modal.modal-call-offer {
  // VISIBILITY
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
  }

  &.active {
    display: block;
  }

  // OWN RULES
  position: absolute;
  z-index: 999;

  width: 400px;
  box-sizing: border-box;
  background-color: $color-white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: $bp-down-small) {
    width: calc(100vw - 40px);
  }
  & .form {
    color: $color-gray-dark;
    width: 100%;
    margin: 0 auto;

    & .form__submit-wrapper {
      & .form__submit-btn {
        width: 100%;
      }
      & .confirm-msg {
        font-size: 12px;
        opacity: 0.7;
      }
    }

    & .form__item {
      margin-bottom: 15px;

      & .input-label {
        display: block;
        margin-bottom: 10px;
      }

      & .input-text {
        // spacing between label
        margin-top: 10px;

        // own styles
        height: 30px;
        border-radius: 5px;
        padding: 10px 20px;
        border: 1px solid $color-gray-dark;
        display: block;
        outline: none;
        width: 100%;
        height: 55px;
        box-sizing: border-box;
        background-color: transparent;

        &::placeholder {
          color: $color-gray-dark;
          opacity: 0.3;
          font-style: italic;
        }
        //
      }

      & .input-msg {
        display: block;
        font-size: 12px;
        font-style: italic;
        padding: 10px 0;
      }

      & .success {
        //
      }
      & .error {
        //
      }
    }
  }

  // ARROW

  & .modal__arrow {
    content: "";
    display: block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: $color-white;
    position: absolute;
    height: 10px;
    width: 20px;
    top: -7px;
  }
}
