.avatar {
  border-radius: 100%;
  border: 5px solid $color-green;
  overflow: hidden;
  width: 110px;
  height: 110px;

  & .avatar__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
