.footer {
  min-height: 150px;
  background-color: #1a353c;
  color: $color-gray-layer;
  a {
    color: $color-gray-layer;
    text-decoration: none;
  }
  & .footer__inner {
    flex-grow: 1;
    padding-top: 40px;
  }

  & .footer__logo {
    & .logo {
      width: $logo-width / 1.8;
      height: $logo-height / 1.8;
    }
  }

  & .contacts__grid {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    margin: 0 auto;
    max-width: 1000px;

    @media screen and (max-width: $bp-down-medium) {
      justify-items: start;
      grid-template-columns: 1fr;
      padding: 0 50px;
    }

    @media screen and (max-width: $bp-down-small) {
      padding: 0 20px;
    }
  }

  & svg.fill--green {
    fill: $color-green;
  }
}
