.personality__card {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $color-white;
  border-radius: 8px;
  padding: 0 30px;
  min-height: 550px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }

  & .card__bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
    overflow: hidden;
  }

  & .card-layer {
    background-color: $color-gray-layer-light;
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
  }

  & .cta__wrapper {
    display: flex;
    justify-content: center;
  }
  & .card__inner {
    position: relative;
    flex-grow: 1;
    //
  }

  & .card__divider {
    height: 1px;
    margin: 0 20px;

    background: linear-gradient(
      270deg,
      rgba(196, 196, 196, 0) 0%,
      #808080 52.27%,
      rgba(196, 196, 196, 0) 104.16%
    );
  }

  & .card__content {
    padding: 45px 50px 45px 0;

    @media screen and (max-width: 768px) {
      padding-right: 0;
    }
  }
}

.card__header {
  display: flex;
  padding: 45px 0;
  align-items: center;

  flex-direction: column;
  justify-content: center;

  &.flexible {
    @media screen and (min-width: 998px) {
      justify-content: flex-start;
      flex-direction: row;
      & .header__avatar {
        margin-right: 35px;
        margin-bottom: 0;
      }

      & .header__content {
        text-align: left;
      }
    }
  }

  & .header__avatar {
    margin-bottom: 35px;
  }

  & .header__content {
    text-align: center;

    & .socials {
      width: 100%;
    }

    & .name {
      font-size: 18px;
      width: 100%;
      font-weight: 500;
    }
    & .year {
      font-size: 12px;
      margin: 20px 0;
      width: 100%;
    }
  }
}

.feedback-card__content {
  margin-bottom: 30px;

  & .text {
    margin: 0;
  }

  & .details {
    position: absolute;
    bottom: 20px;
    font-weight: 200;
    font-size: 14px;
  }
}

.teacher-card__content {
  & .item {
    & b {
      font-weight: 500;
      margin-right: 10px;
      display: inline-block;
    }

    margin-bottom: 20px;
  }
}
