.section-heading {
  &.--light {
    .section-heading__text {
      color: $color-white;
    }
    .section-heading__dash {
      background-color: $color-white;
    }
  }

  &.--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .section-heading__text,
    .section-heading__dash {
      margin-left: auto;
      margin-right: auto;
    }
  }

  & .section-heading__text {
    font-size: 36px;
    color: $color-gray-dark;
    font-weight: 500;
    margin: 0;
    @media screen and (max-width: 998px) {
      font-size: 24px;
    }
  }

  & .section-heading__dash {
    width: 60px;
    height: 7px;
    background-color: $color-gray-dark;
    margin-bottom: 18px;

    @media screen and (max-width: 998px) {
      width: 40px;
      height: 5px;
    }
  }
}
