.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: 64px;
  z-index: 999;

  & .header__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  & .header__nav {
    & > *:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.header-small {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: $color-green;
  z-index: 999;
  height: 52px;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
  &.visible {
    display: block;
  }

  &.active {
    opacity: 1;
    display: block;
  }
  & .logo {
    width: $logo-width / 1.5;
    height: $logo-height / 1.5;
    margin-top: 3px;
  }

  & .logo__full-text {
    display: none;
  }

  & .header__inner {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
  }

  & .header__nav {
    & > *:not(:last-child) {
      margin-right: 20px;
    }

    & .call-offer-btn {
      border: none;
      padding: 8px 15px;
    }
  }
}
